@{
    ViewBag.Title = "Home Page";
}


<div class="container">


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <embed src="~/Images/logo.svg" quality="best" width="25%" height="25%"/>


        <div class="row mb-5">
            <div class="col-lg-8 mx-auto">


                <h3 id="display-4" class="lead"></h3>
                <form id="search_area">
                    <div class="row mb-3">

                        <div class="form-group col-md-9">

                            <input id="key" type="text" placeholder="Εισαγωγή κλειδιού αναζήτησης" class="form-control form-control-underlined">
                        </div>

                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-primary  btn-block shadow-sm">Αναζήτηση</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>

        <div id="results"></div>


    </div>
</div>

<script>
    $("#search_area").submit(function(event) {
        $("#results").empty();
        $("#results").hide(500);
        event.preventDefault();
        key = $("#key").val();
        var _toserialize = key;
        var data = JSON.stringify({ key: _toserialize });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ReloadResults", "Published")',
            data: data,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function(data) {

                var array = data.results;
                var number = array.length;
                var items = $("<ul id='itemlist' class='list-group'></ul>");
                for (var i = 0; i < number; i++) {

                    var br = $("<a></a>").text(array[i].title);
                    var link = "@Url.Action("OpenPage", "Published", new {title = "title_val"})";
                    link = link.replace("title_val", array[i].title);
                    br.attr("href", link);
                    br.appendTo(items);
                }
                items.appendTo(results);
                $("#results").show(500);
            }


        });
    });


</script>

<script>
    $(document).ready(function() {
        $("#results").hide();
    });
</script>